<a href="https://colab.research.google.com/github/jimmy-io/Coursera_Capstone/blob/master/LA_food.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Capstone Project

## Jimmy J.

### Introduction
Frank Lloyd Wright said it best - â€œTip the world over on its side and everything loose will land in Los Angeles." For decades people from all over the world have come to this city in search of home, family, love, fame, and fortune. Los Angeles welcomes this multicultural migration with a suburban sprawl that encompases over 88 cities, and even more unincorporated neihborhoods. Each of these neighborhoods are characterized by geographical, economic, and cultural features that make them uniquely poised to cater to different demographics.
Neighborhoods like Downtown Los Angeles, Culver City, Long Beach, Century City, and West Hollywood provide a mixture of urban style living and accessibility to grocery stores, malls, means of public transportation and entertainment venues within walking distance. On the otherhand suburbs like Baldwin Hills, Crenshaw, Echo Park and Boyle Heights are quiter neighborhoods with single family dwellings that are not easily accessible via public modes of transportation.
Given the vast spectrum of possibilites of neighborhoods to choose from in LA, someone looking to move here might be overwhelmed. In this project I've attempted to characterize neighborhoods in LA by the nature of venue that are in their immediate vicinities using a clustering algorithm. Results from this analysis show that neighborhoods in LA fall under a few groups, defined by the nature of the venues closest to them. This is of most interest to rental unit searching apps like Westiside Rentals or Rentpad, to real estate agents, and generally, to people looking to move to LA. The results of this project can help them find neighborhoods that are most aligned with what they are looking for in a place to live and overall, provide a more satisfactory experience than chosing a neighborhood at random.

### Data
The list of neighborhoods in Los Angeles was web scraped from Wikipedia using BeautifulSoup. The names of these neigborhoods were then fed into Nominatim to obtain their geographical coordinates.
The venues in the vicinity of these neighborhoods will be retreived using the FourSquare API search engine. Venues of five different categories were chosen: Travel & Transport, Arts & Entertainment, Outdoors & Recreation, Nightlife Spot, and Food. The number of venues of each category for each neighborhood was counted and then normalized to give five parameters with which to cluster the neighborhoods by.

In [0]:
### Importing libraries 

import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import re
import json # library to handle JSON files
#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
# import k-means from clustering stage
from sklearn.cluster import KMeans
#!conda install -c conda-forge folium --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library
import bs4 as bs
import urllib.request
import requests
import collections
import csv

In [0]:
#@hidden_cell

CLIENT_ID = 'JS0P2BHNS4GICN4OT1LRM03JV0OLTO4QWS0I5AEITRLVI3QU' # your Foursquare ID
CLIENT_SECRET = '0VS15C0N1PJGYUQQ13UG1SCIFUNHNEXHQQ4CSJAHIJQN2DA1' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails: hidden')

Your credentails: hidden

In [0]:
# Retreiving the coordinates for Los Angeles 

address = 'Los Angeles, CA'

geolocator = Nominatim(user_agent="LA_explorer")
location = geolocator.geocode(address)
LAlatitude = location.latitude
LAlongitude = location.longitude
print('The geograpical coordinate of Los Angeles are {}, {}.'.format(LAlatitude, LAlongitude))

The geograpical coordinate of Los Angeles are 34.0536909, -118.2427666.

In [0]:
## Categories and IDs from FourSquare API

catIds={}
catIds={
        'Food':'4d4b7105d754a06374d81259',
 
       }
catIds

{'Food': '4d4b7105d754a06374d81259'}

In [0]:
for key in catIds:
    print(key)
    print(catIds[key])

Food
4d4b7105d754a06374d81259

In [0]:
### Foursqaure API for nearbby venues and IDs

venues_list=[]
offset = 50
LIMIT = 10000 # limit of number of venues returned by Foursquare API
radius = 10000 # define radius
categoryId='4d4b7105d754a06374d81259'

for o in range(offset):
  url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&categoryId={}&limit={}&offset={}'.format(CLIENT_ID, 
                                                                                                                                              CLIENT_SECRET, 
                                                                                                                                              VERSION, 
                                                                                                                                              LAlatitude,
                                                                                                                                              LAlongitude, 
                                                                                                                                              radius,
                                                                                                                                              categoryId,
                                                                                                                                              LIMIT,
                                                                                                                                              o)
            
    # make the GET request
            
  results = requests.get(url).json()["response"]['groups'][0]['items']
        
        
    # return only relevant information for each nearby venue
  venues_list.append([(v['venue']['id'],
                     v['venue']['name'], 
                      v['venue']['location']['lat'], 
                      v['venue']['location']['lng'],  
                      v['venue']['categories'][0]['name']) for v in results])
            
  nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
  nearby_venues.columns = ['id',
                         'Venue', 
                          'Venue Latitude', 
                          'Venue Longitude', 
                          'Venue Category']

In [0]:
nearby_venues

                            id  ...             Venue Category
0     54938133498ed65f02e8c4ba  ...        American Restaurant
1     5143f2d7e4b039102cf9793f  ...            Udon Restaurant
2     53d06bba498e6c801ea9816e  ...           Sushi Restaurant
3     5956f0d0f5e9d7161f043456  ...        Filipino Restaurant
4     4da117b2bf22a143f96894f8  ...                     Bakery
...                        ...  ...                        ...
4995  4b367855f964a520353625e3  ...             Breakfast Spot
4996  54d17a8e498e41a7ccdc3471  ...         Mexican Restaurant
4997  4f9ae708e4b0ad3854b71528  ...                       CafÃ©
4998  53ae12ee498e1ac3c126d0be  ...                       CafÃ©
4999  4ce2dd06825e721e11808345  ...  Latin American Restaurant

[5000 rows x 5 columns]

In [0]:
group = nearby_venues.groupby('Venue Category', sort = True).count().sort_values('id', ascending = False)

group

                                id  Venue  Venue Latitude  Venue Longitude
Venue Category
Korean Restaurant              541    541             541              541
Mexican Restaurant             333    333             333              333
CafÃ©                           304    304             304              304
Food Truck                     273    273             273              273
American Restaurant            267    267             267              267
Taco Place                     263    263             263              263
New American Restaurant        232    232             232              232
Asian Restaurant               228    228             228              228
Burger Joint                   177    177             177              177
Breakfast Spot                 167    167             167              167
Bakery                         161    161             161              161
Pizza Place                    157    157             157              157
Vegetarian / Vegan Restaurant  156    156             156              156
Italian Restaurant             151    151             151              151
Japanese Restaurant            122    122             122              122
Seafood Restaurant             118    118             118              118
Restaurant                     100    100             100              100
Mediterranean Restaurant        96     96              96               96
Vietnamese Restaurant           95     95              95               95
Diner                           87     87              87               87
Deli / Bodega                   84     84              84               84
Sushi Restaurant                83     83              83               83
Sandwich Place                  81     81              81               81
Gastropub                       72     72              72               72
Thai Restaurant                 71     71              71               71
Food Court                      70     70              70               70
Ramen Restaurant                62     62              62               62
Fried Chicken Joint             53     53              53               53
Donut Shop                      50     50              50               50
Taiwanese Restaurant            50     50              50               50
Ethiopian Restaurant            45     45              45               45
French Restaurant               44     44              44               44
Latin American Restaurant       42     42              42               42
Cuban Restaurant                37     37              37               37
Greek Restaurant                33     33              33               33
Steakhouse                      31     31              31               31
BBQ Joint                       26     26              26               26
South American Restaurant       22     22              22               22
German Restaurant               10     10              10               10
Filipino Restaurant              4      4               4                4
Udon Restaurant                  2      2               2                2

In [0]:
## Saving the nearby venues data as a csv to avoid repeated API calls 
nearby_venues.to_csv('/content/drive/My Drive/IBM Capstone/LA_food.csv')

In [0]:
## Reading the nearby venues data as a csv
la_food  = pd.read_csv('/content/drive/My Drive/IBM Capstone/LA_food.csv', index_col=[0])

In [0]:
la_food.tail(10)

                            id  ...             Venue Category
4990  4ce0287b825e721ed2cd7445  ...                     Bakery
4991  5606e561498ecd0d68963621  ...         Italian Restaurant
4992  54c7e947498e0337af1a23c0  ...   Mediterranean Restaurant
4993  4ac0250ef964a520f39320e3  ...           Sushi Restaurant
4994  4ac41be2f964a520399e20e3  ...         Italian Restaurant
4995  4b367855f964a520353625e3  ...             Breakfast Spot
4996  54d17a8e498e41a7ccdc3471  ...         Mexican Restaurant
4997  4f9ae708e4b0ad3854b71528  ...                       CafÃ©
4998  53ae12ee498e1ac3c126d0be  ...                       CafÃ©
4999  4ce2dd06825e721e11808345  ...  Latin American Restaurant

[10 rows x 5 columns]

In [0]:
### Foursqaure API for venue tips 

tips_list=[]
offset = 0
LIMIT = 100 # limit of number of tips returned by Foursquare API
sort = "popular" # define radius
VenueId='4ce2dd06825e721e11808345'

for o in range(offset):
  url = 'https://api.foursquare.com/v2/venues/{}/tips?&client_id={}&client_secret={}&v={}&limit={}&offset={}'.format(VenueId,
                                                                                                                                                      CLIENT_ID, 
                                                                                                                                              CLIENT_SECRET, 
                                                                                                                                              VERSION, 
                                                                                                                                              LAlatitude,
                                                                                                                                              LIMIT,
                                                                                                                                              o)
            
    # make the GET request
            
  results = requests.get(url).json()

In [0]:
results

{'meta': {'code': 429,
  'errorDetail': 'Quota exceeded',
  'errorType': 'quota_exceeded',
  'requestId': '5e9161b0b1cac0001bd3394e'},
 'response': {}}