<a href="https://colab.research.google.com/github/jimmy-io/Coursera_Capstone/blob/master/LA_food.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Capstone Project

## Jimmy J.

### Introduction
Frank Lloyd Wright said it best - “Tip the world over on its side and everything loose will land in Los Angeles." For decades people from all over the world have come to this city in search of home, family, love, fame, and fortune. Los Angeles welcomes this multicultural migration with a suburban sprawl that encompases over 88 cities, and even more unincorporated neihborhoods. Each of these neighborhoods are characterized by geographical, economic, and cultural features that make them uniquely poised to cater to different demographics.
Neighborhoods like Downtown Los Angeles, Culver City, Long Beach, Century City, and West Hollywood provide a mixture of urban style living and accessibility to grocery stores, malls, means of public transportation and entertainment venues within walking distance. On the otherhand suburbs like Baldwin Hills, Crenshaw, Echo Park and Boyle Heights are quiter neighborhoods with single family dwellings that are not easily accessible via public modes of transportation.
Given the vast spectrum of possibilites of neighborhoods to choose from in LA, someone looking to move here might be overwhelmed. In this project I've attempted to characterize neighborhoods in LA by the nature of venue that are in their immediate vicinities using a clustering algorithm. Results from this analysis show that neighborhoods in LA fall under a few groups, defined by the nature of the venues closest to them. This is of most interest to rental unit searching apps like Westiside Rentals or Rentpad, to real estate agents, and generally, to people looking to move to LA. The results of this project can help them find neighborhoods that are most aligned with what they are looking for in a place to live and overall, provide a more satisfactory experience than chosing a neighborhood at random.

### Data
The list of neighborhoods in Los Angeles was web scraped from Wikipedia using BeautifulSoup. The names of these neigborhoods were then fed into Nominatim to obtain their geographical coordinates.
The venues in the vicinity of these neighborhoods will be retreived using the FourSquare API search engine. Venues of five different categories were chosen: Travel & Transport, Arts & Entertainment, Outdoors & Recreation, Nightlife Spot, and Food. The number of venues of each category for each neighborhood was counted and then normalized to give five parameters with which to cluster the neighborhoods by.

In [0]:
### Importing libraries 

import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import re
import json # library to handle JSON files
#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
# import k-means from clustering stage
from sklearn.cluster import KMeans
#!conda install -c conda-forge folium --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library
import bs4 as bs
import urllib.request
import requests
import collections
import csv

In [3]:
#@hidden_cell

CLIENT_ID = 'JS0P2BHNS4GICN4OT1LRM03JV0OLTO4QWS0I5AEITRLVI3QU' # your Foursquare ID
CLIENT_SECRET = 'KGFP21SEFHLUXM2EPAI4HDLQOAI21MC1CY24RJ4AII4UX2Q3' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails: hidden')

Your credentails: hidden

In [2]:
# Retreiving the coordinates for Los Angeles 

address = 'Los Angeles, CA'

geolocator = Nominatim(user_agent="LA_explorer")
location = geolocator.geocode(address)
LAlatitude = location.latitude
LAlongitude = location.longitude
print('The geograpical coordinate of Los Angeles are {}, {}.'.format(LAlatitude, LAlongitude))

The geograpical coordinate of Los Angeles are 34.0536909, -118.2427666.

In [4]:
## Categories and IDs from FourSquare API

catIds={}
catIds={
        'Food':'4d4b7105d754a06374d81259',
 
       }
catIds

{'Food': '4d4b7105d754a06374d81259'}

In [5]:
for key in catIds:
    print(key)
    print(catIds[key])

Food
4d4b7105d754a06374d81259

In [0]:
### Foursqaure API
venues_list=[]
LIMIT = 10000 # limit of number of venues returned by Foursquare API
radius = 10000 # define radius
categoryId='4d4b7105d754a06374d81259'
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&categoryId={}&limit={}'.format(CLIENT_ID, 
                                                                                                                                              CLIENT_SECRET, 
                                                                                                                                              VERSION, 
                                                                                                                                              LAlatitude,
                                                                                                                                              LAlongitude, 
                                                                                                                                              radius,
                                                                                                                                              categoryId,
                                                                                                                                              LIMIT)
            
    # make the GET request
            
results = requests.get(url).json()["response"]['groups'][0]['items']
        
        
    # return only relevant information for each nearby venue
venues_list.append([(v['venue']['id'],
                     v['venue']['name'], 
                      v['venue']['location']['lat'], 
                      v['venue']['location']['lng'],  
                      v['venue']['categories'][0]['name']) for v in results])
            
nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
nearby_venues.columns = ['id',
                         'Venue', 
                          'Venue Latitude', 
                          'Venue Longitude', 
                          'Venue Category']

In [17]:
nearby_venues

                          id  ...       Venue Category
0   54938133498ed65f02e8c4ba  ...  American Restaurant
1   5143f2d7e4b039102cf9793f  ...      Udon Restaurant
2   53d06bba498e6c801ea9816e  ...     Sushi Restaurant
3   4da117b2bf22a143f96894f8  ...               Bakery
4   5956f0d0f5e9d7161f043456  ...  Filipino Restaurant
..                       ...  ...                  ...
95  58d53ac1b38b326aadf27157  ...           Restaurant
96  4e81441d775b12e15f84165f  ...   Mexican Restaurant
97  4f0fcb0be4b07e9ec8c0cacc  ...    Korean Restaurant
98  4ab537aef964a520527320e3  ...    Korean Restaurant
99  4b77ac13f964a52061a62ee3  ...           Donut Shop

[100 rows x 5 columns]

In [0]:
## Saving the nearby venues data as a csv to avoid repeated API calls 
nearby_venues.to_csv('/content/drive/My Drive/IBM Capstone/LA_food.csv')

In [0]:
## Reading the nearby venues data as a csv
la_food  = pd.read_csv('/content/drive/My Drive/IBM Capstone/LA_food.csv', index_col=[0])

In [45]:
la_food.tail()

                          id  ...      Venue Category
95  58d53ac1b38b326aadf27157  ...          Restaurant
96  4e81441d775b12e15f84165f  ...  Mexican Restaurant
97  4f0fcb0be4b07e9ec8c0cacc  ...   Korean Restaurant
98  4ab537aef964a520527320e3  ...   Korean Restaurant
99  4b77ac13f964a52061a62ee3  ...          Donut Shop

[5 rows x 5 columns]

In [0]:
menu_list=[]
LIMIT = 10000 # limit of number of venues returned by Foursquare API
radius = 10000 # define radius
venueId= '5956f0d0f5e9d7161f043456'
url = 'https://api.foursquare.com/v2/venues/{}/menu?&client_id={}&client_secret={}&v={}'.format(venueId,
                                                                                                         CLIENT_ID,
                                                                                                         CLIENT_SECRET,
                                                                                                         VERSION)
            
    # make the GET request
            
results = requests.get(url).json()

In [56]:
        
    # return only relevant information for each nearby venue
venues_list.append([(v['venue']['id'],
                     v['venue']['name'], 
                      v['venue']['location']['lat'], 
                      v['venue']['location']['lng'],  
                      v['venue']['categories'][0]['name']) for v in results])
            
nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
nearby_venues.columns = ['id',
                         'Venue', 
                          'Venue Latitude', 
                          'Venue Longitude', 
                          'Venue Category']

{'meta': {'code': 200, 'requestId': '5e5eec8d660a9f001bbe2a06'},
 'response': {'menu': {'menus': {'count': 1,
    'items': [{'description': '',
      'entries': {'count': 7,
       'items': [{'description': 'All rice bowls feature a fried egg unless noted otherwise',
         'entries': {'count': 7,
          'items': [{'additions': [],
            'description': "Mary's Organic Chicken, Rice Porridge, Mushrooms, Soft Egg",
            'entryId': '134825521',
            'name': 'Arroz Caldo',
            'options': [],
            'price': '12.00',
            'prices': ['12.00']},
           {'additions': [],
            'description': "Mary's Rotisserie Chicken, Charred Scallions, Radish",
            'entryId': '152530636',
            'name': 'Lechon Manok',
            'options': [],
            'price': '14.00',
            'prices': ['14.00']},
           {'additions': [],
            'description': 'Charred Eggplant, Mushrooms, Seasonal Gulay, Herbs',
            'entryId': '134825523',
            'name': 'Tortang Talong',
            'options': [],
            'price': '14.00',
            'prices': ['14.00']},
           {'additions': [],
            'description': 'Crispy Pork head, Peppers, Red Onion',
            'entryId': '134825524',
            'name': 'Sisig Fried Rice',
            'options': [],
            'price': '13.00',
            'prices': ['13.00']},
           {'additions': [],
            'description': 'Grilled Pork Rib, Atsara',
            'entryId': '134825525',
            'name': 'Pinoy Bbq',
            'options': [],
            'price': '14.00',
            'prices': ['14.00']},
           {'additions': [],
            'description': 'Cripsy Pork Belly, Atsara',
            'entryId': '134825526',
            'name': 'Lechon Kawali',
            'options': [],
            'price': '15.00',
            'prices': ['15.00']},
           {'additions': [],
            'description': "Mary's Rotisserie Chicken, Pickled Fresno",
            'entryId': '171765485',
            'name': 'Adobo Fried Rice',
            'options': [],
            'price': '13.00',
            'prices': ['13.00']}]},
         'name': 'Rice Bowls',
         'sectionId': 's22769536'},
        {'description': 'Available at 4pm daily',
         'entries': {'count': 5,
          'items': [{'additions': [],
            'entryId': '171765486',
            'name': 'Pinoy Bbq Ribs',
            'options': [],
            'price': '7.00',
            'prices': ['7.00']},
           {'additions': [],
            'description': 'Spicy Caramel - Fish Sauce',
            'entryId': '171765487',
            'name': 'Sari Sari Hot Wings',
            'options': [],
            'price': '6.00',
            'prices': ['6.00']},
           {'additions': [],
            'entryId': '171765488',
            'name': 'Adobo Shishito Peppers',
            'options': [],
            'price': '5.00',
            'prices': ['5.00']},
           {'additions': [],
            'description': 'Crispy Pig Ears, Oyster Mushrooms, Tofu',
            'entryId': '171765489',
            'name': "Tokwa't Baboy",
            'options': [],
            'price': '6.00',
            'prices': ['6.00']},
           {'additions': [],
            'entryId': '172733216',
            'name': 'Bbq Pork Belly Skewers',
            'options': [],
            'price': '7.00',
            'prices': ['7.00']}]},
         'name': 'Pulutan! a Filipino Happy Hour',
         'sectionId': 's30235044'},
        {'entries': {'count': 2,
          'items': [{'additions': [],
            'description': 'Seasonal Granita, Leche Flan, Fresh Fruit, Coconut Tapioca, Ice Cream',
            'entryId': '113612936',
            'name': 'Halo-Halo',
            'options': [],
            'price': '7.00',
            'prices': ['7.00']},
           {'additions': [],
            'description': 'Coconut, Coconut, Coconut',
            'entryId': '113612935',
            'name': 'Buko Pie',
            'options': [],
            'price': '7.00',
            'prices': ['7.00']}]},
         'name': 'Sweets',
         'sectionId': 's18654074'},
        {'entries': {'count': 4,
          'items': [{'additions': [],
            'entryId': '134825532',
            'name': 'Calamansi Soda',
            'options': [],
            'price': '4.50',
            'prices': ['4.50']},
           {'additions': [],
            'entryId': '134825533',
            'name': 'Seasonal Lemonade',
            'options': [],
            'price': '4.50',
            'prices': ['4.50']},
           {'additions': [],
            'entryId': '134825534',
            'name': 'Buko Juice',
            'options': [],
            'price': '4.50',
            'prices': ['4.50']},
           {'additions': [],
            'entryId': '134825535',
            'name': 'Iced Tea',
            'options': [],
            'price': '4.50',
            'prices': ['4.50']}]},
         'name': 'Our Drinks',
         'sectionId': 's22769540'},
        {'entries': {'count': 4,
          'items': [{'additions': [],
            'entryId': '134825537',
            'name': 'Coke',
            'options': [],
            'price': '3.50',
            'prices': ['3.50']},
           {'additions': [],
            'entryId': '134825538',
            'name': 'Diet Coke',
            'options': [],
            'price': '3.50',
            'prices': ['3.50']},
           {'additions': [],
            'entryId': '134825539',
            'name': 'Sprite',
            'options': [],
            'price': '3.50',
            'prices': ['3.50']},
           {'additions': [],
            'entryId': '153515512',
            'name': 'Rotating Draft & Bottled Beer',
            'options': [],
            'prices': []}]},
         'name': 'Their Drinks',
         'sectionId': 's22769541'},
        {'entries': {'count': 1,
          'items': [{'additions': [],
            'entryId': '152530639',
            'name': 'Hot Or Iced Coffee',
            'options': [],
            'price': '3.50',
            'prices': ['3.50']}]},
         'name': 'Kape',
         'sectionId': 's26277171'},
        {'entries': {'count': 1,
          'items': [{'additions': [],
            'description': 'A 4% service charge will be added to each guest check to ensure competitive industry compensation, as well as health and medical benefits, for all of our valued full time team members. In support of this initiative, the entirety of the charge is retained by the company. If you would like this charge removed, please let our staff know. Thank you for dining with us and supporting our staff.',
            'entryId': '164203262',
            'name': 'Note',
            'options': [],
            'prices': []}]},
         'name': 'From Our Team',
         'sectionId': 's28636050'}]},
      'menuId': 'myreixq7mg4igwjxxrckskghs',
      'name': 'Menu'}]},
   'provider': {'attributionImage': 'https://as.singleplatform.com/Foursquare/sari-sari-store/provided_by.png',
    'attributionLink': 'http://w.singlepage.com/sari-sari-store/menu?ref=Foursquare',
    'attributionText': 'Disclaimer: Always check with the business for pricing and availability of menu items. SinglePlatform is not responsible for menu or pricing changes, but the information is believed to be accurate when posted. Listing of a menu does not mean that there is any affiliation, endorsement or sponsorship between SinglePlatform and the listed business.',
    'name': 'singleplatform'}}}}